.offer-form {
  &__field {
    @extend .flex-column;
    margin-bottom: calc(var(--main-offset) / 1.5);

    label {
      display: inline-block;
      margin-bottom: 10px;

      @extend .lw-main-text;
      @extend .lw-main-text--accent;
    }

    textarea {
      @extend .lw-main-input;

      resize: none;
      height: 160px;
    }

    .file-attach-fake-control {
      @extend .lw-main-input;
      @extend .flex-centered-content;
      gap: clamp(10px, 2vw, 20px);
      color: var(--primary);
      text-transform: initial;
      background-color: var(--white);
      padding: 12px 20px;

      @include m-b-mobile-lg-down {
        font-size: 14px;
        padding: 10px 16px;
      }

      svg {
        fill: var(--primary);
      }

      & + input {
        display: none;
      }
    }
  }

  &__footer {
    @extend .flex-column;
    gap: 10px;

    button {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }

    small a {
      text-decoration: underline;
      color: var(--primary);
    }
  }
}
