.offer-form {
  @extend .flex-wrap;
  gap: 10px 20px;
  width: 100%;

  &__field {
    @extend .flex-column;
    width: 100%;

    &--half {
      width: calc(50% - 10px);

      @include m-b-mobile-lg-down {
        width: 100%;
      }
    }

    label {
      display: inline-block;
      margin-bottom: 5px;
      font-style: 14px;

      @extend .lw-main-text;
      @extend .lw-main-text--accent;

      font-size: 14px;
    }

    textarea {
      @extend .lw-main-input;

      resize: none;
      height: 160px;
    }

    .file-attach-fake-control {
      @extend .lw-main-input;
      @extend .flex-centered-content;
      gap: clamp(10px, 2vw, 20px);
      color: var(--primary);
      text-transform: initial;
      background-color: var(--white);
      padding: 8px 20px;
      font-size: 14px;

      @include m-b-mobile-lg-down {
        font-size: 14px;
        padding: 8px 16px;
      }

      svg {
        fill: var(--primary);
        min-width: 24px;
      }

      & + input {
        display: none;
      }
    }
  }

  &__footer {
    @extend .flex-column;
    gap: 10px;

    button {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }

    small a {
      text-decoration: underline;
      color: var(--primary);
    }
  }
}
