.offer {
  &__container {
    background-color: #f9fbfe;
    padding: calc(var(--main-offset) * 1.5) var(--main-offset);
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../assets/img/offer-img.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    @include m-b-tablet-down {
      background-image: none;
    }
  }

  .lw-section-title {
    margin-top: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 600px auto;
    gap: clamp(20px, 2.6vw, calc(var(--main-offset) * 3));

    @include m-b-tablet-down {
      grid-template-columns: 1fr;
    }
  }
}
