.portfolio {
  &__btn {
    max-width: 480px;
    margin: var(--main-offset) auto;
  }

  &__slider {
    position: relative;

    .swiper-wrapper {
      margin-bottom: 0;
    }

    .swiper-slide img {
      border-radius: 10px;
    }

    .main-slider-controls {
      position: static;
    }

    .main-slider-pagination {
      display: none;
    }

    .main-slider-navigation {
      .main-slider-button-next,
      .main-slider-button-prev {
        top: 50%;
        position: absolute;
        left: clamp(10px, 2.2vw, 20px);

        background-color: var(--white);

        z-index: 1000;
      }

      .main-slider-button-prev {
        transform-origin: top;
        transform: rotate(180deg) translateY(-50%);
      }

      .main-slider-button-next {
        left: initial;
        right: clamp(10px, 2.2vw, 20px);
        transform: translateY(-50%);
      }
    }
  }
}
