.workflow {
  overflow: hidden;

  &__list {
    @extend .list-reset;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-offset);

    @include m-b-laptop-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-down(640px) {
      grid-template-columns: 1fr;
    }
  }
}
