.main-modal {
  min-width: 360px;

  .modal {
    &__header {
      display: flex;
      align-items: flex-start;

      .lw-section-title {
        font-size: clamp(18px, 2.4vw, 26px);
        margin-bottom: 15px;
        padding-right: 40px;
        align-self: center;
      }

      &-text {
        font-size: 14px;
        line-height: 1.4;
        color: var(--text-color);
      }
    }
  }
}
