include ../../mixins/section-title

section.about#about
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Область применения'
    })

    .about__grid
      .about__grid-section
        .about__content
          p.lw-main-text Алюминиевые двери сочетаются с любым дизайном внешнего оформления и архитектуры здания и интерьером помещений. Они предлагают широкий выбор цветовых решений, от классических до современных, и могут быть выполнены в различных стилях, включая минимализм, хай-тек, прованс и др.
          p.lw-main-text Благодаря своей прочности, алюминиевые двери также отлично подходят для обеспечения безопасности помещения. Алюминиевые двери легко ухаживать и имеют долгий срок службы, что делает их популярным выбором среди собственников недвижимости.
      .about__grid-section
        .about__side
          img(src="./assets/img/objects/obj_1.jpg" title="Для офисных и торговых зданий" alt="Для офисных и торговых зданий" width="400" height="200")
          img(src="./assets/img/objects/obj_2.jpg" title="Для жилых зданий" alt="Для жилых зданий" width="400" height="200")
          img(src="./assets/img/objects/obj_3.jpg" title="Для промышленных зданий, производств и складских помещений" alt="Для промышленных зданий, производств и складских помещений" width="400" height="200")
          img(src="./assets/img/objects/obj_4.jpg" title="Для муниципальных зданий и социальных объектов" alt="Для муниципальных зданий и социальных объектов" width="400" height="200")

