include ../../mixins/section-title

section.contacts#contacts
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Наши контакты'
    })

    .contacts__grid
      .contacts__content
        .contacts__content-item
          svg(width="60" height="60")
            use(xlink:href="./assets/sprite.svg#icon-phone")
          a(href="tel:+78122100907").lw-main-text.lw-main-text--accent +7 (812) 210-09-07

        .contacts__content-item
          svg(width="60" height="60")
            use(xlink:href="./assets/sprite.svg#icon-mail")
          a(href="mailto:mail@alum-doors.ru").lw-main-text.lw-main-text--accent mail@alum-doors.ru

        .contacts__content-item
          svg(width="60" height="60")
            use(xlink:href="./assets/sprite.svg#icon-pin")

          span.lw-main-text.lw-main-text--accent г. Санкт-Петербург, <br>улица Седова, <br>12 БЦ Т4

        .contacts__content-item
          svg(width="60" height="60")
            use(xlink:href="./assets/sprite.svg#icon-calendar")

          span.lw-main-text.lw-main-text--accent Пн - Чт: 9:00 - 18:00
          span.lw-main-text.lw-main-text--accent Пт:9:00 - 17:00
          span.lw-main-text.lw-main-text--accent Сб - Вс: Выходной

      .contacts__map
        #yMaps
