include ../../mixins/section-title
include ../../mixins/feature-card

section.features#features
  .lw-container
    +section-title({
      tag: 'h2',
      title: '<span>Преимущества</span>'
    })

    ul.features__list
      li
        +feature-card({
          icon: 'feature-1',
          title: 'Комфорт',
          text: 'Алюминиевые профильные системы обеспечивают комфортный микроклимат в помещениях, надежно защищая его от холода, протечек и шума.'
        })

      li
        +feature-card({
          icon: 'feature-2',
          title: 'Долговечность',
          text: 'Срок службы конструкций исчисляется десятилетиями. А так же мы предоставляем гарантию на все наши изделия.'
        })

      li
        +feature-card({
          icon: 'feature-3',
          title: 'Прочность',
          text: 'Повышенная прочность. Заявленная прочность достигается благодаря особому сплаву алюминия, в котором сочетается медь с магнием.'
        })

    .features__bottom
      picture
        source(type="image/webp" srcset="./assets/img/lw-feature-image.webp 1x, ./assets/img/lw-feature-image@2x.webp 2x")
        img(loading="lazy" src="./assets/img/lw-feature-image.png" srcset="./assets/img/lw-feature-image.png 2x" alt="Монтажник" width="800" height="600")

      ul
        li
          svg(width="60" height="60")
            use(xlink:href=`./assets/sprite.svg#icon-success`)

          span.lw-main-text Гарантия на изделия до 3 лет
        li
          svg(width="60" height="60")
            use(xlink:href=`./assets/sprite.svg#icon-success`)

          span.lw-main-text Производство по ГОСТ
        li
          svg(width="60" height="60")
            use(xlink:href=`./assets/sprite.svg#icon-success`)

          span.lw-main-text Цена от производителя
        li
          svg(width="60" height="60")
            use(xlink:href=`./assets/sprite.svg#icon-success`)

          span.lw-main-text Профессиональный монтаж

