include ../../mixins/section-title
include ../../mixins/main-slider

section.licenses#licenses
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Лицензии и <span>сертификаты</span>'
    })

    +main-slider({
      cls: 'licenses__slider',
      fancyboxGallery: 'licenses',
      slides: [
        {
          img: 'licenses/license_1',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Лицензия №2-Б/01585 от 23 ноября 2009 г.</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений.</span>'
        },

        {
          img: 'licenses/license_2',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Лицензия №2-Б/01585 от 23 ноября 2009 г.</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту</span>'
        },

        {
          img: 'licenses/license_3',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Уведомление о внесении изменений в реестр лицензий</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений.</span>'
        },

        {
          img: 'licenses/license_4',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Лицензия №2-Б/01585 от 23 ноября 2009 г.</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений.</span>'
        },

        {
          img: 'licenses/license_1',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Уведомление о внесении изменений в реестр лицензий</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений.</span>'
        },
      ]
    })


