include ../../mixins/section-title
include ../../mixins/main-slider

section.licenses#licenses
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Лицензии и сертификаты'
    })

    +main-slider({
      cls: 'licenses__slider',
      slides: [
        {
          img: 'licenses/license_1',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Лицензия МЧС №2-Б/01585 от 23 ноября 2009 г.</p><span class="lw-main-text licenses-slide-text">Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений</span>'
        },

        {
          img: 'licenses/license_2',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Лицензия МЧС №2-Б/01585 от 23 ноября 2009 г.</p><span class="lw-main-text licenses-slide-text">Лицензия МЧС (стр.2)</span>'
        },

        {
          img: 'licenses/license_03',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Сертификат соответствия</p><span class="lw-main-text licenses-slide-text">Профили из алюминиевых сплавов</span>'
        },

        {
          img: 'licenses/license_04',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Сертификат соответствия</p><span class="lw-main-text licenses-slide-text">Профили из алюминиевых сплавов (стр.2)</span>'
        },

        {
          img: 'licenses/license_02',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Сертификат соответствия</p><span class="lw-main-text licenses-slide-text">Конструкция ограждающая светопрозрачная из алюминиевого профиля</span>'
        },

        {
          img: 'licenses/license_01',
          imgWidth: '380',
          imgHeight: '540',
          txt: '<p class="lw-main-text licenses-slide-title">Сертификат соответствия</p><span class="lw-main-text licenses-slide-text">Двери противопожарные дымогазонепроницаемые из алюминиевого профиля</span>'
        },
      ]
    })


