include ../../mixins/section-title

section.offer#offer
  .lw-container
    .offer__container
      +section-title({
        tag: 'h2',
        title: 'Заполните форму <br>и&nbsp;при&nbsp;необходимости прикрепите файл'
      })

      .offer__grid
        .offer__grid-section
          include ../../components/offer-form
