include ../../mixins/section-title
include ../../mixins/main-slider

section.portfolio#portfolio
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Примеры <span>работ</span>'
    })

    +main-slider({
      cls: 'portfolio__slider',
      fancyboxGallery: 'portfolio',
      slides: [
        {
          img: 'portfolio/portfolio_1',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_2',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_1',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_2',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_1',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_2',
          imgWidth: '640',
          imgHeight: '640',
        },
      ]
    })

    +main-btn({
      title: 'Вызвать замерщика на объект',
      cls: 'js-callback-modal-opener portfolio__btn',
      dataModalTitle: 'Оставить заявку',
      dataModalText: 'Заполните форму, и бязательно свяжемся с вами',
      modal: 'callback',
    })



