include ../../mixins/section-title
include ../../mixins/main-slider

section.portfolio#portfolio
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Примеры <span>работ</span>'
    })

    +main-slider({
      cls: 'portfolio__slider',
      fancyboxGallery: 'portfolio',
      maxSlidesCount: 4,
      slides: [
        {
          img: 'portfolio/portfolio_1',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_2',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_3',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_4',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_5',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_6',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_7',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_8',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_9',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_10',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_11',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_12',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_13',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_14',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_15',
          imgWidth: '640',
          imgHeight: '640',
        },
        {
          img: 'portfolio/portfolio_16',
          imgWidth: '640',
          imgHeight: '640',
        },
      ]
    })

    +main-btn({
      title: 'Вызвать замерщика на объект',
      cls: 'js-callback-modal-opener portfolio__btn',
      modal: 'employee',
    })



