include ../../mixins/section-title
include ../../mixins/review-slider

section.reviews#reviews
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Что говорят о нас наши клиенты'
    })

    +review-slider({
      cls: 'review__slider',
      slides: [
        {
          title: 'Р.М. Сираканян',
          desc: 'Первый заместитель директора Петербургского филиала ОАО «Ростелеком»',
          text: 'ОАО Ростелеком выражает глубокую признательность и искреннюю благодарность за качественную и своевременную поставку противопожарных дверей в 2014г. Стабильные отгрузки и качественное исполнение работ позволили нам бесперебойно осуществлять свою деятельность. Выражаем уверенность в сохранении сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.'
        },

        {
          title: 'С.Н. Турусов',
          desc: 'Генеральный директор АО ВНИТИ ЭМ ',
          text: 'Выражаю благодарность за своевременное соблюдение сроков поставки и качественное изготовление противопожарных дверей, которые зарекомендовали в период эксплуатации только с хорошей стороны. Отлично поставлена обратная связь по согласованию и выставлению счетов и спецификации. Хочется отметить грамотный подход к демонтажу и монтажу дверей. Спасибо за профессионализм.'
        },

        {
          title: 'А.И. Соловьев',
          desc: 'Генеральный директор ООО «Стройцентр»',
          text: 'С момента сотрудничества, ООО КСБ показало себя надежным партнером, вовремя и качественно выполняющим взятые на себя обязательства по обеспечению наших объектов противопожарными конструкциями.'
        },
        {
          title: 'Р.М. Сираканян',
          desc: 'Первый заместитель директора Петербургского филиала ОАО «Ростелеком»',
          text: 'ОАО Ростелеком выражает глубокую признательность и искреннюю благодарность за качественную и своевременную поставку противопожарных дверей в 2014г. Стабильные отгрузки и качественное исполнение работ позволили нам бесперебойно осуществлять свою деятельность. Выражаем уверенность в сохранении сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.'
        },

        {
          title: 'С.Н. Турусов',
          desc: 'Генеральный директор АО ВНИТИ ЭМ ',
          text: 'Выражаю благодарность за своевременное соблюдение сроков поставки и качественное изготовление противопожарных дверей, которые зарекомендовали в период эксплуатации только с хорошей стороны. Отлично поставлена обратная связь по согласованию и выставлению счетов и спецификации. Хочется отметить грамотный подход к демонтажу и монтажу дверей. Спасибо за профессионализм.'
        },

        {
          title: 'А.И. Соловьев',
          desc: 'Генеральный директор ООО «Стройцентр»',
          text: 'С момента сотрудничества, ООО КСБ показало себя надежным партнером, вовремя и качественно выполняющим взятые на себя обязательства по обеспечению наших объектов противопожарными конструкциями.'
        },
        {
          title: 'Р.М. Сираканян',
          desc: 'Первый заместитель директора Петербургского филиала ОАО «Ростелеком»',
          text: 'ОАО Ростелеком выражает глубокую признательность и искреннюю благодарность за качественную и своевременную поставку противопожарных дверей в 2014г. Стабильные отгрузки и качественное исполнение работ позволили нам бесперебойно осуществлять свою деятельность. Выражаем уверенность в сохранении сложившихся дружественных отношений и надеемся на дальнейшее взаимовыгодное и плодотворное сотрудничество.'
        },

        {
          title: 'С.Н. Турусов',
          desc: 'Генеральный директор АО ВНИТИ ЭМ ',
          text: 'Выражаю благодарность за своевременное соблюдение сроков поставки и качественное изготовление противопожарных дверей, которые зарекомендовали в период эксплуатации только с хорошей стороны. Отлично поставлена обратная связь по согласованию и выставлению счетов и спецификации. Хочется отметить грамотный подход к демонтажу и монтажу дверей. Спасибо за профессионализм.'
        },

        {
          title: 'А.И. Соловьев',
          desc: 'Генеральный директор ООО «Стройцентр»',
          text: 'С момента сотрудничества, ООО КСБ показало себя надежным партнером, вовремя и качественно выполняющим взятые на себя обязательства по обеспечению наших объектов противопожарными конструкциями.'
        },
      ]
    })
