include ../../mixins/section-title
include ../../mixins/workflow-card

section.workflow#workflow
  .lw-container
    +section-title({
      tag: 'h2',
      title: 'Этапы <span>работы</span>'
    })

    ul.workflow__list

      li
        +workflow-card({
          icon: 'workflow_1',
          num: '01',
          text: 'Принимаем заявку'
        })

      li
        +workflow-card({
          icon: 'workflow_2',
          num: '02',
          text: 'Расчёт стоимость заказа'
        })

      li
        +workflow-card({
          icon: 'workflow_3',
          num: '03',
          text: 'Выезд на замер'
        })

      li
        +workflow-card({
          icon: 'workflow_4',
          num: '04',
          text: 'Согласование Спецификации'
        })
      li
        +workflow-card({
          icon: 'workflow_5',
          num: '05',
          text: 'Поступление оплаты и запуск заказа в производство'
        })
      li
        +workflow-card({
          icon: 'workflow_6',
          num: '06',
          text: 'Доставка и монтаж'
        })


