mixin head(title, desc, keywords)
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    title!= title
    <meta name="description" content="Алюминиевые двери на заказ">
    <meta name="keywords" content="">
    <link rel="preload" fetchpriority="high" as="image" href="./assets/img/hero-bg@1x.png" imagesrcset="./assets/img/hero-bg@1x.webp, ./assets/img/hero-bg@2x.png 2x, ./assets/img/hero-bg@2x.webp 2x" />

    <link rel="preload" href="./assets/fonts/Manrope-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./assets/fonts/Manrope-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./assets/fonts/Manrope-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="./assets/main.css">

    script(defer src="./assets/bundle.js")
