footer.footer
  .lw-container.footer__container
    .footer-line(aria-hidden="true")
    .footer__top
      include ../includes/company-logo
      .footer__top-phone
        a(href="tel:+78122100907").company-phone
          svg(width="20" height="20")
            use(xlink:href="./assets/sprite.svg#icon-phone")
          span +7 (812) 210-09-07

      button(type="button" aria-label="Заказать проект" data-modal-anchor="callback" data-modal-title="Заказать звонок" data-modal-text="Заполните форму, и мы перезвоним Вам").lw-main-btn.footer__offer-btn.js-callback-modal-opener
        svg(width="20" height="20")
          use(xlink:href="./assets/sprite.svg#icon-phone")
        span Заказать проект

    .footer__field.footer__field--law-info
      span.footer__field-title Юридическая информация:
      include ../includes/company-law-info

    .footer__field.footer__field--nav.footer__nav
      include ../components/nav

    //.footer__field.footer__field--contacts
      .footer__contacts
        span.footer__field-title Офис продаж:
        include ../includes/company-office-address
        include ../includes/company-mail
        include ../includes/company-phone
        include ../includes/company-worktime

        span.footer__field-title Производство-склад:
        include ../includes/company-manufacture-address

  .footer-line(aria-hidden="true")
  .footer__bottom
    .lw-container.footer__bottom-container
      include ../includes/company-rights
      include ../includes/developer-link
