footer.footer
  .lw-container.footer__container
    .footer-line(aria-hidden="true")
    .footer__top
      include ../includes/company-logo
      .footer__top-phone
        a(href="tel:+78122100907" aria-label="Позвонить").company-phone
          svg(width="20" height="20")
            use(xlink:href="./assets/sprite.svg#icon-phone")
          span +7 (812) 210-09-07

      button(type="button" aria-label="Заказать проект" data-modal-anchor="offer").lw-main-btn.footer__offer-btn
        svg(width="20" height="20")
          use(xlink:href="./assets/sprite.svg#icon-phone")
        span Заказать проект

    .footer__field.footer__field--law-info
      span.footer__field-title Юридическая информация:
      include ../includes/company-law-info

    .footer__field.footer__field--nav.footer__nav
      include ../components/nav

  .footer-line(aria-hidden="true")
  .footer__bottom
    .lw-container.footer__bottom-container
      include ../includes/company-rights
      include ../includes/developer-link
